# Credentials for Terraform to function
# Copy this file to credentials.auto.tfvars and update the values as needed

proxmox_api_url          = "your-proxmox-api-url"
proxmox_api_token_id     = "your-token-id-from-proxmox"
proxmox_api_token_secret = "your-token-secret-from-proxmox"
