{
  "settings": {
    "application": {
      "fetch_backend": "html_webdriver",
      "filter_failure_notification_threshold_attempts": 2,
      "global_ignore_text": [],
      "global_subtractive_selectors": [],
      "ignore_whitespace": false,
      "render_anchor_tag_content": false,
      "empty_pages_are_a_change": false,
      "extract_title_as_title": false,
      "pager_size": 25,
      "password": false,
      "removepassword_button_enabled": true,
      "shared_diff_access": false,
      "webdriver_delay": 10
    },
    "requests": {
      "time_between_check": {
        "weeks": null,
        "days": 1,
        "hours": null,
        "minutes": null,
        "seconds": null
      },
      "jitter_seconds": 10800,
      "workers": 10
    }
  },
  "watching": {},
  "version": 2
}