http:
  routers:
    proxmox:
      rule: "Host(`proxmox.{{ lookup('env', 'HOMELAB_DOMAIN') | default('example.com') }}`)"
      service: proxmox-service
{% if traefik_enable_ssl %}
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare
        domains:
          - main: "*.{{ lookup('env', 'HOMELAB_DOMAIN') | default('example.com') }}"
{% else %}
      entryPoints:
        - web
{% endif %}

  services:
    proxmox-service:
      loadBalancer:
        servers:
          - url: "https://{{ lookup('env', 'PROXMOX_HOST_IP') | default('192.168.10.10') }}:8006"
        serversTransport: "proxmox-transport"

  serversTransports:
    proxmox-transport:
      insecureSkipVerify: true